{% extends "layouts/base.html" %}

{% block title %} Reset Password {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Reset Password
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                  Enter your email to reset your password
              {% endif %}  
          </h6>

          <br />

          <form role="form" method="post" action="">
              
            {% csrf_token %} 

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <input type="email" name="email" class="form-control" required>
                </div>
              </div>
            </div>

            <br />

            <button type="submit" name="reset" class="btn btn-primary pull-left">Reset Password</button>

            &nbsp; &nbsp; 
            <span class="pull-right">
              Remember your password? <a href="{% url 'login' %}" class="text-primary">Login</a>
            </span>

            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
